---
import Announcement from "../components/Announcement.astro";
import Experience from "../components/Experience.astro";
import Layout from "../layouts/Layout.astro";
import { projects } from "../lib/projects";
import { Image } from "astro:assets";
import "../styles/global.css";

const pageTitle = "Projects";
---

<Layout title={pageTitle}>

  <div class="flex flex-col gap-40 text-3xl my-12 md:mx-40 2xl:mx-60">

    <Announcement/>

    <Experience id="experience"/>
    

   <div>
        <h1 class="font-krub font-bold text-5xl">Projects</h1>
        <hr class="border-t-1 w-full border-indigo-200 mt-4" />
        <div class="md:columns-2 mt-16">
            {
                projects.map((project:any) => (
                <a href={project.link}  target="_blank">
                    <div class="relative group mb-8 md:mb-6" >
                        <Image 
                            src={project.image.url} 
                            alt={project.image.alt} 
                            class="rounded-md w-full"
                            />
                            <div class="absolute bottom-0 left-0 right-0 top-auto h-full bg-gradient-to-t from-slate-900 rounded-md" />
                            <div class="absolute bottom-1 md:bottom-0 left-0 right-0 text-white p-4 md:py-8 rounded-md transition-all duration-300 md:transform md:translate-y-0 md:group-hover:translate-y-[-28px]">
                                <h1 class="font-krub text-indigo-100 font-medium text-xl">{project.title}</h1>
                            </div>
                            <div class="flex flex-wrap items-center gap-2 mt-2 text-base font-incon font-medium px-4 opacity-0 md:opacity-0 md:group-hover:opacity-100 absolute md:bottom-0 group-hover:bottom-5 transition-all duration-300">
                                {project.tags.map((tag:string)=>(
                                    <h1 class="px-3 pt-[4px] rounded-2xl bg-white text-slate-900">{tag}</h1>
                                ))}
                            </div>
                        </div>
                </a> 
            ))}
        </div>
    </div>

  </div>
</Layout>
