---
import { work } from "../lib/websites";
import { Image } from "astro:assets";

const {id, classAdd} = Astro.props;

import "../styles/global.css";
import { Icon } from "astro-icon/components";
---

<div id={id} class={`${classAdd}`}>
    {
        work.map((wrk: any) => (
            <h1 class="font-krub font-bold text-5xl">Experience</h1>
            <hr class="border-t-1 w-full border-indigo-200 mt-4" />
            <div class="grid md:grid-cols-2 gap-16 items-center mt-16">
                
                <div class="flex flex-col gap-6">
                    <a href={wrk.href} target="_blank" class="font-incon underline underline-offset-8 decoration-wavy decoration-2 decoration-violet-300 ">
                        {wrk.title}
                    </a>
                    <ul class="flex flex-col gap-2">
                        {wrk.points.map((point:String)=>(
                            <div class="grid grid-cols-12 items-start">
                                <Icon name="mdi:star-four-points-circle" class="mt-1 w-5 h-5"/>
                                <li class="font-incon font-light text-xl text-indigo-100 col-span-11 ">{point}</li>
                            </div>
                        ))}
                    </ul>
                    <a href={wrk.href} target="_blank"  class="flex gap-2 font-incon w-fit text-xl group mt-4"> 
                        Visit 
                        <svg class="-mt-1 group-hover:translate-x-4 transition-transform ease-in-out duration-200" xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewBox="0 0 30 24"><path fill="white" d="M4 11v2h20v2h2v-2h2v-2h-2V9h-2v2zm18-4h2v2h-2zm0 0h-2V5h2zm0 10h2v-2h-2zm0 0h-2v2h2z"/></svg>
                    </a>
                </div>

                <Image src={wrk.image.url} alt={wrk.image.alt} class="rounded-md border-[1px] -mt-5 md:-mt-10 border-indigo-200"/>
            </div>
  ))
}
</div>